*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;;
}


body{
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
}

.container {
    max-width: 1000px;
    margin: auto;
}


header{
    height: 60px;
    background: #843B44;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    align-items: center;
    font-size: 14px;
    justify-content: center;
}

header .nav_bar {
    background: #843B44;
    width: 100%;    
    display: flex;
    align-items: center;
    justify-content: center;
}

header .nav_bar .main_div{
    display: flex;    
    justify-content: space-between;  
    align-items: center;
    gap: 30px;
}

header .nav_bar .main_div .nav_left {
    display: flex;
}

header .nav_bar .main_div .nav_left img{
    width: 40px;
    height: 40px;

}

header .nav_bar .main_div .nav_links {
    outline: 0;
}

header .nav_bar .main_div .nav_right .nav_links .menu{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #007AB7;
    border: 0;
    border-radius: 7px;
    color: white;
    outline: 0;
    margin-top: 5px;
    display: none;
}

header .nav_bar .main_div .nav_right .menu:hover{
    opacity: 0.7;
    transition: 0.6s;
    background: grey;
    color: #007AB7;
    font-weight: bold;
    font-size: 15px;
    outline: 0;
}

header .nav_bar .nav_links {
    display: flex;
    align-items: center;    
    gap: 30px;
    margin-left: 40px;
}



.nav_bar .nav_links li{
    list-style-type: none;
}

.nav_bar .nav_left .nav_links li a{
    text-decoration: none;
    color: white;
}

@media (max-width: 600px){
    .nav_left .nav_links.hide{
        display: none;
    }

    header .nav_bar .main_div .nav_right .nav_links .menu{
        display: block;
    }

    header{
        height:70px;
    }

    header .nav_bar .main_div{
        gap: 0px;
        /* flex-direction: column; */
    }

    .nav_left .nav_links{
        font-size: 20px;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: -11%;
        background: white;
        font-weight: bold;
        width: 100%;
        /* margin-left: -300px; */
        margin-top: 35px;
        padding: 20px;
        opacity: 0.9;
        color: black;

    }

    .nav_bar .nav_left .nav_links li a{
        color: black;
    }
}


main {
    flex: 1;
}

main .content{
    position: relative;
    width: 100%;
    height: 560px;
}   

footer {
    background: #843B44;
    padding: 0;
    /* height: 200px; */
    margin-top: 60px;
    /* position: relative; */
}


footer .main_footer{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    align-items: center;
    /* margin-top: 50px; */
    height: 200px;
    /* text-align: center; */
    /* background: white; */
}

footer .company_info {
    display: flex;
    flex-direction: column;
    gap: 7px;
    text-align: left;
}

footer .company_info h1{
    color: #007AB7;
    /* color: white; */
    font-weight: bold;
}

footer .company_info h4{
    /* text-align: center; */
    color: white;
}

footer .company_features .company_features_list{
    list-style-type: none;
    font-weight: bold;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
}

footer .company_features .company_features_list li a{
    color: white;
    text-decoration: none;
}

footer .company_features,
footer .company_info,
footer .company_services{
    margin-top: 60px;
}

footer .company_services{
    display: flex;
    flex-direction: column;
    text-align: right;
}

footer .company_services h2 a{
    /* color: #007AB7; */
    color: white;
    outline: 0;
    text-decoration: none;
    border-bottom: 3px solid black;
    padding-bottom: 5px;
    transition: all 0.7s ease-in-out;
} 

footer .company_services h2 a:hover{
    color: black;
    transition: all 0.7s ease-in-out;
    border-bottom: 3px solid white;
}


/* footer .company_services h3{
    color: white;
    margin-top: 7px;
} */

footer .connect_email_ {
    margin-top: 20px;
    margin-left: 80px;
    
}

@media (max-width: 1060px){
    footer{
        height: 100%;
    }
    footer .main_footer {
        flex-direction: column;
        /* text-align:center; */
    }
    .main_footer .company_info,
    .main_footer .company_services{
        text-align: center;
        /* background: orange; */
    }
    footer .connect_email_ {
        margin-left: 0px;   
    }

}
