*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
    padding-top: 40px;
    background: #E1F4F3;
}

.container{
    max-width: 1200px;
    margin: auto;
}

main .brandButton{
    display: flex;
    justify-content: center;
    gap: 30px;
}

main .brandButton button{
    padding: 10px 15px;
    width: 150px;
    font-size: 15px;
    border: none;
    background: #111F4D;
    color: white;
    border-radius: 7px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

main .brandButton button:hover{
    opacity: 0.8;
}


main .hideShraddha{
    display: none;
}

main .hideSirjan{
    display: none;
}

main .broiler .products_box .broiler_div{
    display: flex;
    justify-content: right;
    position: relative;
    right: 200px;
    /* gap: 30px; */
    /* background: #E1F4F3; */
    gap: 7px;
    padding: 10px;
    /* width: 1000px; */
}

main .broiler .products_box .broiler_div .left_content{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 15px;
    position: relative;
    /* height: 210px; */
}

main .broiler .products_box .broiler_div .left_content img{
    border-radius: 5px;
}

main .broiler .products_box .broiler_div .right_content{
    height: 300px;
    /* background: orange; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .broiler .products_box .broiler_div .right_content img{
    height: 300px;
    width: 300px;
    border-radius: 4px;
}

/* break */

main .layers{
    margin-top: 50px;
    width: 1000px;
}

main .layers .products_box .layers_div{
    display: flex;
    justify-content: left;
    position: relative;
    left: 200px;
    /* gap: 30px; */
    /* background: #E1F4F3; */
    gap: 7px;
    padding: 10px;
    /* width: 1000px; */
}

main .layers .products_box .layers_div .right_content{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 15px;
    position: relative;
    /* height: 210px; */
}

main .layers .products_box .layers_div .right_content img{
    border-radius: 5px;
}

main .layers .products_box .layers_div .left_content{
    height: 300px;
    /* background: orange; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .layers .products_box .layers_div .left_content img{
    height: 300px;
    width: 300px;
    border-radius: 4px;
}


/* pig */
main .pig{
    margin-top: 50px;
}

main .pig .products_box .pig_div{
    display: flex;
    justify-content: right;
    position: relative;
    right: 200px;
    /* gap: 30px; */
    /* background: #E1F4F3; */
    gap: 7px;
    padding: 10px;
    /* width: 1000px; */
}

main .pig .products_box .pig_div .left_content{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 15px;
    position: relative;
    /* height: 210px; */
}

main .pig .products_box .pig_div .left_content img{
    border-radius: 5px;
}

main .pig .products_box .pig_div .right_content{
    height: 300px;
    /* background: orange; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .pig .products_box .pig_div .right_content img{
    height: 300px;
    width: 300px;
    border-radius: 4px;
}

/* fish */
main .fish{
    margin-top: 50px;
    width: 1000px;
}

main .fish .products_box .fish_div{
    display: flex;
    justify-content: left;
    position: relative;
    left: 200px;
    /* gap: 30px; */
    /* background: #E1F4F3; */
    gap: 7px;
    padding: 10px;
    /* width: 1000px; */
}

main .fish .products_box .fish_div .right_content{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 15px;
    position: relative;
    /* height: 210px; */
}

main .fish .products_box .fish_div .right_content img{
    border-radius: 5px;
}

main .fish .products_box .fish_div .left_content{
    height: 300px;
    /* background: orange; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .fish .products_box .fish_div .left_content img{
    height: 300px;
    width: 300px;
    border-radius: 4px;
}



/* break */
/* giriraj */

main .giriraj{
    margin-top: 50px;
}

main .giriraj .products_box .giriraj_div{
    display: flex;
    justify-content: right;
    position: relative;
    right: 200px;
    /* gap: 30px; */
    /* background: #E1F4F3; */
    gap: 7px;
    padding: 10px;
    /* width: 1000px; */
}

main .giriraj .products_box .giriraj_div .left_content{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 15px;
    position: relative;
    /* height: 210px; */
}

main .giriraj .products_box .giriraj_div .left_content img{
    border-radius: 5px;
}

main .giriraj .products_box .giriraj_div .right_content{
    height: 300px;
    /* background: orange; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .giriraj .products_box .giriraj_div .right_content img{
    height: 300px;
    width: 300px;
    border-radius: 4px;
}

/* broiler Sirjan */
main .broilerSirjan{
    margin-top: 50px;
    width: 1000px;
}

main .broilerSirjan .products_box .broilerSirjan_div{
    display: flex;
    justify-content: left;
    position: relative;
    left: 200px;
    /* gap: 30px; */
    /* background: #E1F4F3; */
    gap: 7px;
    padding: 10px;
    /* width: 1000px; */
}

main .broilerSirjan .products_box .broilerSirjan_div .right_content{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 15px;
    position: relative;
    /* height: 210px; */
}

main .broilerSirjan .products_box .broilerSirjan_div .right_content img{
    border-radius: 5px;
}

main .broilerSirjan .products_box .broilerSirjan_div .left_content{
    height: 300px;
    /* background: orange; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .broilerSirjan .products_box .broilerSirjan_div .left_content img{
    height: 300px;
    width: 300px;
    border-radius: 4px;
}







img{
    width: 150px;
    height: 200px;
}