*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
    padding-top: 40px;
    background: #EEEEEE;
    overflow-x: hidden;
}

.container{
    max-width: 1200px;
    margin: auto;
    /* background: black; */
}

main .brandButton{
    display: flex;
    justify-content: center;
    gap: 30px;
}

main .brandButton button{
    padding: 10px 15px;
    width: 150px;
    font-size: 15px;
    border: none;
    background: #111F4D;
    color: white;
    border-radius: 7px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.deactive{
    opacity: 0.3;
}
/* 
main .brandButton button:hover{
    opacity: 0.8;
} */


main .hideShraddha{
    display: none;
}

main .hideSirjan{
    display: none;
}

main .right {
    background: white;
    margin-top: 50px;
}

main .right .products_box .right_div{
    display: flex;
    justify-content: right;
    position: relative;
    right: 200px;
    /* gap: 30px; */
    /* background: #E1F4F3; */
    gap: 30px;
    padding: 10px;
    /* width: 1000px; */
}

main .right .products_box .right_div .left_content{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 15px;
    position: relative;
    /* height: 210px; */
}

main .right .products_box .right_div .left_content img{
    border-radius: 5px;
}

main .right .products_box .right_div .right_content{
    height: 300px;
    /* background: orange; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .right .products_box .right_div .right_content img{
    height: 300px;
    width: 300px;
    border-radius: 4px;
}

/* break */

main .left{
    margin-top: 50px;
    /* width: 400px; */
    background: #F5E8DD;
}

main .left .products_box .left_div{
    display: flex;
    justify-content: left;
    position: relative;
    left: 200px;
    /* gap: 30px; */
    /* background: #E1F4F3; */
    gap: 30px;
    padding: 10px;
    /* width: 1000px; */
}

main .left .products_box .left_div .right_content{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 15px;
    position: relative;
    /* height: 210px; */
}

main .left .products_box .left_div .right_content img{
    border-radius: 5px;
}

main .left .products_box .left_div .left_content{
    height: 300px;
    /* background: orange; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .left .products_box .left_div .left_content img{
    height: 300px;
    width: 300px;
    border-radius: 4px;
}

img{
    width: 150px;
    height: 200px;
}
img.main_img{
    height: 100px !important;
    width: 100px !important;
    /* border: 1px solid black; */
}








